<div id="linear-gradient-bg">
  <div id="layout-bg-svg">
    <div class="col-md-8 col-md-offset-2">
      <div class="heading-content">
        <img id="logo-image" src="/images/pacm_logo_bold.svg" alt="logo image">
        <br>
        <br>
        <h4 class="lead">Welcome to the PACM Data Internet of Things prototyping application! <br/> This application is specifically designed to simplify the development of IoT prototypes by providing Solution Architects basic tools to find, save, and display IoT data from the Verizon ThingSpace or Bug Labs API resources.</h3>
        <h4 class="lead">Select the "Get Started" button to login or signup. <br/> User accounts are necessary for personalizing IoT data preferences.</h3>
        <br>
        <a href="/login" class="btn btn-primary btn-lg">Get Started</a>
      </div>
      <div id="push"></div>
    </div>
    {{> footer}}
  </div>
</div>
