{{> navbar}}
<div class="container page-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>DASHBOARD PAGE</h1>
      <p>OVERVIEW | GRAPHS | SITE LINKS | ETC</p>
    </div>
  </div>
</div>
