<div class="container">
  <div class="row">
    <div class="nb-error">
          <div class="error-code">404</div>
          <h3 class="font-bold">We couldn't find the page..</h3>
          <br>
          <div class="error-desc">
              Sorry, but the page you are looking for was either not found or does not exist. <br/><br>
              Try refreshing the page or click the button below to go back to the Homepage.
            <br><br><br>
             <ul class="list-inline text-center text-sm">
               <li class="list-inline-item"><a href="https://www.pacmdata.com" class="text-muted">GO TO APP</a>
               </li>
               <li class="list-inline-item"><a href="https://www.pacmdata.com/login" class="text-muted">LOGIN / SIGNUP</a></li>
            </ul>
            <br>
            <div class="text-center">
              <span>©</span>
              <span>2017</span>
              <span>-</span>
              <span>PACM DATA</span>
           </div>
          </div>
      </div>
  </div>
</div>
