{{> navbar}}
<div class="container page-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>MY BOARDS PAGE</h1>
      <p>VIEW BOARDS | CREATE NEW BOARDS | EDIT BOARDS | DELETE BOARDS</p>
    </div>
  </div>
</div>
