{{> navbar}}
<div class="container page-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>This is the <strong>alerts</strong> page for <strong>{{user.nickname}}!</strong></h2>
      <p>CONFIGURE ALERT TYPE | CONFIGURE ALERT DESTINATION | SELECT RECIPIENTS</p>
    </div>
  </div>
</div>
