{{> navbar}}
<div class="container page-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>This is the <strong>profile</strong> page for <strong>{{user.nickname}}!</strong></h2>
      <p>UPDATE USER INFO | CHANGE PASSORD | DELETE ACCOUNT</p>
    </div>
  </div>
</div>
