{{> navbar}}
<div class="container page-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>This is the profile page for <strong>{{user.nickname}}!</strong></h2>
      <p><p>UPDATE USER INFO | CHANGE PASSORD | DELETE ACCOUNT</p></p>
    </div>
  </div>
</div>
